<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Trigger</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_sidebar.html' %}

    <main id="main-content">
        <h1>WhatsApp Sender</h1>
        <button id="sendButton">Abrir WhatsApp</button>
        <div id="message"></div>
        <pre id="output"></pre>

        <!-- Add the clear log button and status area -->
        <hr>
        <h2>Log Management</h2>
        <button id="clearLogButton">Limpar Log de Enviados</button>
        <div id="logMessage"></div>
    </main>

    {% include 'partials/_footer.html' %}

    <!-- Link to external JS file -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

</body>
</html> 